<<<<<<< Updated upstream
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  .container {
    display: grid;
    grid-template-rows: 80px 1fr 50px;
    grid-template-columns: 100px 1fr;
    height: 100vh;
  }
  
  .header {
    grid-column: 1 / 3;
    background-color: #f0a43d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: black;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .execute-button {
    background-color: #f5a5a5;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .execute-button:hover {
    background-color: #e57373;
  }
  
  .sidebar {
    background-color: #f7f3b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .sidebar button {
    background-color: #f5f3be;
    border: none;
    padding: 10px;
    margin: 10px 0;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .sidebar button:hover {
    background-color: #ffd966;
  }
  
  .main-content {
    background-color: #b3e3e8;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
  }
  
  .footer {
    grid-column: 1 / 3;
    background-color: #f0a43d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer button {
    background-color: #f5f3be;
    border: none;
    padding: 10px;
    margin: 10px 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
  }
  
  .footer button:hover {
    background-color: #ffd966;
  }
  
  .addFlowContainer {
    margin-top: 20px;
  }
  
  .addFlowButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #ffff99; /* Light yellow background */
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .addFlowButton svg {
    margin-right: 10px;
  }
  
  .addFlowButton span {
    font-size: 16px;
    font-weight: bold;
  }
>>>>>>> Stashed changes
